
{{!--     
   
    <H2 id="features">Featured Recipes</H2>
     <div id="featuresList">
        <ul>Recipe 1 Name</ul>
        <ul>Recipe 2 Name</ul>
        <ul>Recipe 3 Name</ul>
        <ul>Recipe 4 Name</ul>
        <ul>Recipe 5 Name</ul>
        <ul>Recipe 6 Name</ul>
     </div> --}}
<div id="featuredRecipes" style="border: 2px black solid; height:auto">
<div class="card" style="width: 18rem;">
  <img src="../images/fishTacos.jpg" class="card-img-top" alt="Fish Tacos">
  <div class="card-body">
    <h5 class="card-title">Fish Tacos</h5>
    <p class="card-text">Here is a delicious recipe for Fish Tacos</p>
    <a href="#" class="btn btn-primary">Click to see recipe</a>
  </div>
  </div>



<div class="card" style="width: 18rem;">
  <img src="../images/beefstew.png" class="card-img-top" alt="Beef Stew">
  <div class="card-body">
    <h5 class="card-title">Beef Stew</h5>
    <p class="card-text">Yum! I'm in the mood for some beef stew. It's a family secret I want to share with everyone!</p>
    <a href="#" class="btn btn-primary">Click to see recipe</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="../images/chickenparm.png" class="card-img-top" alt="Chicken Parm">
  <div class="card-body">
    <h5 class="card-title">Chicken Parm</h5>
    <p class="card-text">My Friday night go to: Chicken Parm!</p>
    <a href="#" class="btn btn-primary">Click to see recipe</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="../images/porkchops.png" class="card-img-top" alt="Pork Chops">
  <div class="card-body">
    <h5 class="card-title">Pork Chops</h5>
    <p class="card-text">An all-round American classic. You can't mess it up!</p>
    <a href="#" class="btn btn-primary">Click to see recipe</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="../images/pesto.jpg" class="card-img-top" alt="Pesto Pasta">
  <div class="card-body">
    <h5 class="card-title">Pesto Pasta</h5>
    <p class="card-text">A taste of Italy. With this Recipe it's like you are in the heart of Venice</p>
    <a href="#" class="btn btn-primary">Click to see recipe</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="../images/fishTacos.jpg" class="card-img-top" alt="Fish Tacos">
  <div class="card-body">
    <h5 class="card-title">Fish Tacos</h5>
    <p class="card-text">Here is a delicious recipe for Fish Tacos</p>
    <a href="#" class="btn btn-primary">Click to see recipe</a>
  </div>
</div>







</div>
     