<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <header id="header">
        <input id="searchRecipe" placeholder="Search Recipes"></input>
        <button id="searchEnter">Search</button>
        <nav class="navbar">
            <ul>Add recipe</ul>
            <ul>Categories</ul>
            <ul>Saved Recipes</ul>
            <ul>My Profile</ul>
        </nav>
    <h1 id="welcomePage">Welcome to the Recipe Homepage</h1>
    </header>
  <h2>Featured Recipes</h2>
    <div id="featured-recipes"></div>

    <script id="featured-recipes-template" type="text/x-handlebars-template">
        <ul>
            {{#each recipes}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </script>
<script src="/js/homePage.js"></script>

</body>
</html>