<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <header id="header">
        <input id="searchRecipe" placeholder="Search Recipes"></input>
        <button id="searchEnter">Search</button>
        <nav class="navbar">
            <ul>Add recipe</ul>
            <ul>Categories</ul>
            <ul>Saved Recipes</ul>
            <ul>My Profile</ul>
        </nav>
    <h1>Welcome to the Recipe Homepage</h1>
    </header>
   
    <H2>Featured Recipes</H2>
     <div>
        <ul>Recipe 1 Name</ul>
        <ul>Recipe 2 Name</ul>
        <ul>Recipe 3 Name</ul>
        <ul>Recipe 4 Name</ul>
        <ul>Recipe 5 Name</ul>
        <ul>Recipe 6 Name</ul>
     </div>
</body>
</html>