<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="loginTitle">Login Page</title>
</head>
<body class="generalBody">
    <h1 id="signUp">Sign Up!</h1>
    <form id="loginForm">
        <input id="firstName"  type="text" placeholder="First Name"/>
        <input id="lastName"  type="text" placeholder="lastName"/>
        <input id="email"  type="email" placeholder="Username (Your Email)"/>
        <input id="password" type="password" placeholder="Password"/>
        <input id="passwordConfirm" type="password" placeholder="Confirm Password" />
        <button id="submitBtn">Submit</button>
    </form>
</body>
</html>