<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Home Cook</title>
</head>
<body>
    <h1>The Home Cook</h1>
    <h3>If you have a login, please login below</h3>

<form>
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <button id="loginBtn">Login</button>
</form>
<h3>Don't have an account?</h3>
<button id="signupBtn">Sign-Up Here</button>

</body>
</html>
