{{> nav}}
<div id="recipeContainer">
    <h2>
        Let's see how you get down in the kitchen!
    </h2>

    <form id="recipe">
        <div>
            <label for="recipeName">Recipe Name:</label>
            <input type="text" id="recipeName" name="recipeName">
        </div>
        <div>
            <label for="recipeDescription">Recipe Description:</label>
            <textarea id="recipeDescription"name="recipeDescription"></textarea>
        </div>
   
            <select id="categoryOptions">
                <option value="1">Chicken</option>
                <option value="2">Beef</option>
                <option value="3">Fish</option>
                <option value="4">Pork</option>
                <option value="5">Shellfish</option>
            </select>
        
        <div>
            <button type="submit">submit</button>

        </div>

    </form>
</div>
<script src="/js/addRecipe.js"></script>