{{> nav}}
<div id="recipeContainer">
    <h2>
        Let's see how you get down in the kitchen!
    </h2>

    <form id="recipe">
        <div id="recipeNameContainer">
            <label for="recipeName">Recipe Name:</label>
            <input type="text" id="recipeName" name="recipeName" maxlength="255" required>
        </div>
        <div id="rescipeDescriptionContainer">
            <label for="recipeDescription">Recipe Description:</label>
            <textarea id="recipeDescription"name="recipeDescription" style="width:190px;"></textarea>
        </div>
   <div id="categoryOptionsSpacing">
   <select id="categoryOptions">
                <option value="1">Chicken</option>
                <option value="2">Beef</option>
                <option value="3">Fish</option>
                <option value="4">Pork</option>
                <option value="5">Shellfish</option>
            </select>
   </div>
         
        
        <div id="recipeSubmit" style="display:flex;justify-content:center;">
            <button type="submit">Submit</button>

        </div>

    </form>
</div>
<script src="/js/addRecipe.js"></script>