

  <h2>Featured Recipes</h2>
    <div id="featured-recipes"></div>

    <script id="featured-recipes-template" type="text/x-handlebars-template">
        <ul>
            {{#each recipes}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </script>
<script src="/public/homePage.js"></script>

