<h3 id="loginMessage">If you have a login, please login below</h3>

<form id="loginForm">
  <input id='username' type="text" name="username" placeholder="Username" />
  <input id='password' type="password" name="password" placeholder="Password" />
  <button>Login</button>
</form>
<div class="otherOption">
  <h4 id="noAccount">Don't have an account?</h4>
  <a href="/signup"><button>Sign up Here</button></a>
</div>
<script src="/js/login.js"></script>