<h1 id="signUp">Sign Up!</h1>
<form id="signUpForm">
    <div>
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" placeholder="First Name" />
    </div>
    <div>
        <label for="lastName">Last Name: </label>
        <input id="lastName" type="text" placeholder="lastName" />
    </div>
    <div>
        <label for="email">Username: </label>
    <input id="username" type="text" placeholder="Username" />
    </div>
    <div>
         <label for="password">Password: </label>
    <input id="password" type="password" placeholder="Password" />
    </div>
   
     <button>submit</button>
</form>
<a href="/login"><button>login Here</button></a>

<script src="/js/signup.js"></script>

