<h1 id="signUp">Sign Up below!</h1>

<section id="signUpSection">

<form id="signUpForm">
    
    <div class="bottomSpacing">
        <input id="firstName" type="text" placeholder="First Name" />
    </div>
    <div class="bottomSpacing">
        <input id="lastName" type="text" placeholder="Last Name" />
    </div>
    <div class="bottomSpacing">
    <input id="username" type="text" placeholder="Username" />
    </div>
    <div class="bottomSpacing">
    <input id="password" type="password" placeholder="Password" />
    </div>
  
  <div class="bottomSpacing">
 <button >Submit</button>
  </div>

     <a href="/login"><button>Login Here</button></a>
</form>

</section>



<script src="/js/signup.js"></script>

