<h1 id="signUp">Sign Up!</h1>
<form id="loginForm">
    <div>
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" placeholder="First Name" />
    </div>
    <div>
        <label for="lastName">Last Name: </label>
        <input id="lastName" type="text" placeholder="lastName" />
    </div>
    <div>
        <label for="email">Email: </label>
    <input id="email" type="email" placeholder="Username (Your Email)" />
    </div>
    <div>
    <input id="password" type="password" placeholder="Password" />
    </div>
    <div>
    <input id="passwordConfirm" type="password" placeholder="Confirm Password" />
    </div>
    <div>
    <button id="submitBtn">Submit</button>
    </div>
</form>
<a href="/login"><button>login Here</button></a>

<script src="/js/signup.js"></script>

