<h1 id="myBio">MyBio</h1>

<h1 id="nameField">Hi! Pull in Name from signup</h1>
<h3 id="bio">More about me</h3>
<p1 id="aboutMe">Paragraph about one's self and what recipes they like to make etc and we have to be able to save this information so that we can always access it when ever we go into a user's profile. Put in placeholder later</p1>