<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="homePageTitle">The Home Cook</title>
</head>
<body class="loginBody">
    <h1 id="loginHeader">The Home Cook</h1>
    <h3 id="loginMessage">If you have a login, please login below</h3>

<form id="loginForm">
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <button id="loginBtn">Login</button>
</form>
<div class="otherOption">
<h3 id="noAccount">Don't have an account?</h3>
<button id="signupBtn">Sign-Up Here</button>
</div>
    <script src="../../public/userLogin.js"></script>
</body>
</html>
