{{> nav}}
<form id="updateForm">
    <div>
        <label for="firstName">first Name:</label>
        <input type="text" id="firstName" name="firstName" value="{{user.first_name}}" disabled>
    </div>
 <div>
        <label for="lastName">last Name:</label>
        <input type="text" id="lastName" name="lastName" value="{{user.last_name}}" disabled>
    </div>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{user.login_id}}" required>

    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{user.password}}">
    </div>
    <button type="submit" id="updateButton" disabled>Update</button>

</form>

<script src="/js/userProfile.js"></script>