* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute; top: 0;
    font-size: 70px;
    font-style: italic;
    font: white;
    border: 2px solid darkgreen;
    width: 80vw;
    display: flex;
    justify-content: center;
    height: min-content;
    background-color: lightgreen;
    padding-top: 20px;
}

.navbar {
    font-size: 25px;
    background-color: lightgreen;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/vegBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}





#login {
    width: 460px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: lightgreen;
}

#loginMessage {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#loginForm {
    padding-bottom: 10px;
}

.loginButton:hover {
    width: 70px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.signUpButton:hover {
    width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

#otherOption{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    position: absolute; bottom: 50px;
}

.signupBtn {
    background-color: green;

}

#signUpSection {
    width: 460px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: lightgreen;
    display: flex;
    justify-content: center;
}

#signUp {
    background: lightgreen;
    border: 4px double;
    display: flex;
    justify-content: center;
}

.bottomSpacing {
    padding-bottom: 10px;
}






#card {
    width:80vw;
    border: 2px black solid;
    overflow-y:scroll;
}


